<div class='password-tips-preview-container'>
  <span>Password strength</span>

  <div class="progress" role="progressbar" aria-label="Success example 1px high" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
    <div class="progress-bar bg-success" style='width: <%= "#{@password_verifier.password_strength}%" %>'></div>
  </div>

  <div class='row card-text password-tips-container'>
    <div class='col-sm-6'>
      <ul class="list-group list-group-flush password-tips-list">
      <% @password_verifier.rules_statuses.each do |rule| %>
        <li class="list-group-item rule-<%= rule[:missing] ? 'missing' : 'present' %>">
          <%= rule[:text] %>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
</div>
