<div id="users" class='container'>
  <div class='row users-form'>
    <div class='col-sm-3'></div>
    <div class='col-sm-6'>
      <div class='row'>
        <div class='col-sm-6 text-start'>
          <h1>New user</h1>
        </div>
        <div class='col-sm-6 text-end'>
          <%= link_to "Back to users", users_path, class: 'btn btn-primary' %>
        </div>
      </div>
      <%= render "form", user: @user %>
    </div>
    <div class='col-sm-3'></div>
  </div>
</div>
